<ion-content>
  <div class="headerCover">
    <button ion-button menuToggle="" color="light" clear>
      <ion-icon name="menu"></ion-icon>
    </button>
  </div>
  <div class="profilePic">
  </div>
  <div class="contentSlides">
    <ion-slides class="">
      <ion-slide>
        <div style="text-align:center" ><h1></h1></div>
        <ion-item *ngFor="let item of usersBuisnessProfile" style="text-color:black;">
          <h1>{{item.name}}</h1>
        </ion-item>
        <p>Hi I am Ahmed this is my first hackathon i am trying to make a bio for this app</p>
        <ion-item>
          <p>{{imageURI}}</p>
          <button ion-button color="secondary" (click)="getImage()">Get Image</button>
        </ion-item>
        <ion-item>
          <h4>Image Preview</h4>
          <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
        </ion-item>
        <ion-list>
          <ion-item>
            Twitter
            <button ion-button outline item-end icon-left>
              <ion-icon name="logo-twitter"></ion-icon>
              Twitter
            </button>
          </ion-item>
          <ion-item>
            Facebook
            <button ion-button outline item-end icon-left>
              <ion-icon name="logo-facebook"></ion-icon>
              Facebook
            </button>
          </ion-item>
          <ion-item>
            Snapchat
            <button ion-button outline item-end icon-left>
              <ion-icon name="logo-snapchat"></ion-icon>
              Snapchat
            </button>
          </ion-item>
          <ion-item>
            Instagram
            <button ion-button outline item-end icon-left>
              <ion-icon name="logo-instagram"></ion-icon>
              Instagram
            </button>
          </ion-item>
        </ion-list>
        <button ion-button style="text-align:center">Add someone</button>
      </ion-slide>
      <ion-slide>
        <h1 style="text-align-center">Ahmed El Gohary Business</h1>
        <p>Hi I am Ahmed. I usually code in Python and C++ decided to try something new using AngularJS for this project</p>
        <ion-list>
          <ion-item>
            LinkedIn
            <button ion-button outline item-end icon-left>
              <ion-icon name = "logo-twitter"></ion-icon>
              LinkedIn
            </button>
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
