page-home {
  background-image: url("../assets/imgs/pexels-photo-378442.jpeg");
  background-size: cover;
  background-position: cetner center;
  background-repeat: no-repeat;
}
.coverImg{
  top:0;
  width:100%;
  height:20%;
}
.headerCover{
  
}
